```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.local
.env
.env.local
.env.*
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitattributes
.next
.next/cache/
.node-version
.npm
.npmrc
.nyc_output
.nyc_output/
package-lock.json
yarn-error.log
yarn.lock
.yarn-integrity
.yarn-metadata.json
.yarn/
.pnp.*
.pnp.js
.yarn-cache
.yarn-cache/
.yarn-debug.log*
.yarn/install-state.gz
.yarn/plugins/**
!.yarn/plugins/.gitkeep
.yarn/releases/**
!.yarn/releases/.gitkeep
.yarn/sdks/**
!.yarn/sdks/.gitkeep
.yarn/versions/**
!.yarn/versions/.gitkeep
node_modules/
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/
ehthumbs.db
Icon?
```